<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletContext</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <description>魏智辉--2019-7-27--编码过滤器</description>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.edu.lingnan.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>用户模块控制层</description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.user.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>获取验证码图片</description>
    <display-name>VerifyCodeServlet</display-name>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>cn.itcast.vcode.servlet.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>书籍分类模块的Servlet</description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.category.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>书籍查询模块的Servlet</description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.book.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <description>魏智辉--2019-8-9--购物车条目的Servlet</description>
  <servlet>
    <display-name>CartItemServlet</display-name>
    <servlet-name>CartItemServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.cart.servlet.CartItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartItemServlet</servlet-name>
    <url-pattern>/CartItemServlet</url-pattern>
  </servlet-mapping>
  <description>魏智辉-2019-8-12--订单的Servlet</description>
  <servlet>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.order.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <display-name>魏智辉--2019-8-17--前台过滤器</display-name>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.edu.lingnan.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>CartItemServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>OrderServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/jsps/cart/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/jsps/order/*</url-pattern>
  </filter-mapping>
  <description>魏智辉--2019-8-7--管理员模块的servlet</description>
  <servlet>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.admin.admin.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <description>魏智辉--2019-8-23-管理员管理分类模块的Servlet</description>
  <servlet>
    <display-name>AdminCategoryServlet</display-name>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.admin.category.servlet.AdminCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <url-pattern>/admin/AdminCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminBookServlet</display-name>
    <servlet-name>AdminBookServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.admin.book.servlet.AdminBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBookServlet</servlet-name>
    <url-pattern>/admin/AdminBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddBookServlet</display-name>
    <servlet-name>AdminAddBookServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.admin.book.servlet.AdminAddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddBookServlet</servlet-name>
    <url-pattern>/admin/AdminAddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOrderServlet</display-name>
    <servlet-name>AdminOrderServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.admin.order.servlet.AdminOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrderServlet</servlet-name>
    <url-pattern>/admin/AdminOrderServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminLoginFilter</display-name>
    <filter-name>AdminLoginFilter</filter-name>
    <filter-class>cn.edu.lingnan.filter.AdminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/adminjsps/admin/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
     <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
</web-app>